<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universitaria de Colombia pagos</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <div class="top-bar">
             <div class="contact-info"> <span><i class="fas fa-phone-alt"></i> PBX (601) 441-38-32</span>
                 <span><i class="fas fa-phone-alt"></i> (601) 726-29-03</span>
             </div>
             <div class="social-links">
                 <span>Siguenos en las redes Sociales:</span>
                 <a href="https://www.facebook.com/UniversitariaDeColombia" target="_blank"><i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/universitariacolombia/" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://twitter.com/Unicolombia" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/school/universitariacolombia/" target="_blank"><i class="fab fa-linkedin"></i></a> </div>
             <div class="user-actions"> <a href="#" class="perfil-button">PERFIL</a> </div>
        </div>
        <nav>
         <div class="logo">
             <img src="../static/logo.png" alt="Logo Universitaria de Colombia"> </div>
         <ul class="main-menu">
             <li><a href="#">CARTERA</a></li>
             <li><a href="#">PSE</a></li>
             <li><a href="#">CARNET DE IDENTIFICACION</a></li>
             <li><a href="#">NOTAS</a></li>
             <li><a href="#">UTILIDADES</a></li>
             <li class="support-button"><a href="#">SOPORTE TECNICO</a></li> </ul>
        </nav>
     </header>
     <main>
         <section class="main-content">
             <div class="image-container">
                 <img src="../static/estudiantes.jpg" alt="Estudiantes universitarios sonriendo">
             </div>
             <div class="shortcuts">
                 <a href="#">
                     <span class="icon">🎓</span>
                     <span>SOLICITUDES</span>
                 </a>
                 <a href="#">
                     <span class="icon">📄</span>
                     <span>PAGOS</span>
                 </a>
                 <a href="#">
                     <span class="icon">👨🏽‍🎓</span> <span>AULA VIRTUAL</span>
                 </a>
             </div>
         </section>
     </main>
     <footer>
        <p>&copy; 2025 Universitaria de Colombia. Todos los derechos reservados.</p>
     </footer>
</body>
</html>